@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:500|Pontano+Sans);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;}

body {line-height: 1;}
ol, ul {list-style: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;}

/*******************************************/
/******* B A S E   S T Y L E S *************/
/*******************************************/

html {background-color: #fcfcfc;}

hr {
    border-top: 1px solid #333;
    width: 90%;}

/*******************************************/
/******* T Y P O G R A P H Y ***************/
/*******************************************/

html {font-size: 16px;}

body {
  font-family: 'Pontano Sans', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 1.45;
  color: #333; }

p,ol,ul {
    margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {font-size: 2.827em;}
h3 {font-size: 1.999em;}
h4 {font-size: 1.414em;}

small, .font_small {font-size: .707em;}

em {
    font-style:italic;
    font-weight: 700; }

strong {
    font-weight: 700;
    color: #222; }

q:before {content: "\201C";}
q:after {content: "\201D";}

q q:before {content: "\2018";}
q q:after {content: "\2019";}

a{transition: .15s;}
a:link,
a:active{color:#0F92D4;}
a:hover{color:#42C0FF;}
a:visited{color:#1A526E;}

code{ font-family: 'Source Code Pro', sans-serif; }

blockquote {
    background-color:#eee;
    border-left: 3px solid #333;
    font-size:1.414em;
    margin: auto;
    padding-top: 30px;
    text-align: center;
    width: 90%;}

blockquote p:before{ content: "\201C"; }
blockquote p:after{ content: "\201D"; }
blockquote p{ margin: 0 auto 30px auto; }

blockquote cite{margin-top:1em;}

blockquote footer{
    background-color: #333;
    color:#fcfcfc;
    padding: 7px 30px;
    width: 100%;
    text-align: right; }

ol{
    font-size: 1em;
    list-style: decimal;
    margin-left: 2.414em; }

ol ol{list-style:lower-roman;}

ul{
    font-size: 1em;
    list-style: disc;
    margin-left: 2.414em; }

ul ul{list-style: circle;}

/*******************************************/
/******* T A B L E S ***********************/
/*******************************************/

table{
    background-color:#eee; 
    margin-bottom: 1.8em;}

caption{margin-bottom: .75em;}

thead{
    background-color:#333;
    color:#fcfcfc;}

tr:nth-child(even){background-color:#ccc;}

th, td{padding: .75em 1em;}

.table-condensed th,
.table-condensed td{
    padding: .33em 1em;}


/*******************************************/
/******* F O R M S *************************/
/*******************************************/

form{background-color:#eee;}

form header{
    background-color:#333;
    color:#fcfcfc;
    font-size: 1.999em;
    padding: 30px;
    }

.form-body{padding: 30px;}

input,
textarea,
label{
    display:block;
}

input,
textarea,
select{
    border:none;
    border-bottom: 1px solid #333;
    color: #333;
    font-size: 1.414em;
    margin-bottom: 1em;
    padding: .33em .5em .15em;
    font-family: 'Pontano Sans', 'Arial', sans-serif;
}

label{margin-bottom: .5em;}

.mandatory{color: #F24B6F;}

/*******************************************/
/******* B U T T O N S *********************/
/*******************************************/

a.button,
a.button:link,
a.button:visited,
.button,
button,
input[type=button],
input[type=submit],
[role=button]{
    background: #555;
    border: 1px solid #333;
    color: #fcfcfc;
    line-height: normal;
    padding: .33em 1.5em;
    display: inline-block;
    transition: .15s;
    text-align: center;
    text-decoration:none;
}

a.button:hover,
.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
[role=button]:hover{
    background: #333;
    cursor:pointer;
}

a.button:active,
.button:active{
    background-color:#111;
    border-color: #111;
}

.button.primary,
button.primary,
input[type=button].primary,
input[type=submit].primary,
[role=button].primary{
    background-color: #5EC1FF;
    border-color: #5EC1FF;
    color:#fcfcfc;
}

.button.primary:hover,
button.primary:hover,
input[type=button].primary:hover,
input[type=submit].primary:hover,
[role=button].primary:hover{
    background-color: #5C8DDB;
    border-color: #5C8DDB;
}

.button.primary:active,
button.primary:active,
input[type=button].primary:active,
input[type=submit].primary:active,
[role=button].primary:active{
    background-color: #5A70C4;
    border-color: #5A70C4;
}

.button.success,
button.success,
input[type=button].success,
input[type=submit].success,
[role=button].success{
    background-color: #83DE3E;
    border-color: #83DE3E;
    color: #fcfcfc;
}

.button.success:hover,
button.success:hover,
input[type=button].success:hover,
input[type=submit].success:hover,
[role=button].success:hover{
    background-color: #42BD3C;
    border-color: #42BD3C;
}

.button.success:active,
button.success:active,
input[type=button].success:active,
input[type=submit].success:active,
[role=button].success:active{
    background-color: #5DB054;
    border-color: #5DB054;
}

.button.warning,
button.warning,
input[type=button].warning,
input[type=submit].warning,
[role=button].warning{
    background-color: #FFB914;
    border-color: #FFB914;
    color: #fcfcfc;
}

.button.warning:hover,
button.warning:hover,
input[type=button].warning:hover,
input[type=submit].warning:hover,
[role=button].warning:hover{
    background-color: #DB741A;
    border-color: #DB741A;
}

.button.warning:active,
button.warning:active,
input[type=button].warning:active,
input[type=submit].warning:active,
[role=button].warning:active{
    background-color: #C4581D;
    border-color: #C4581D;
}

.button.error,
button.error,
input[type=button].error,
input[type=submit].error,
[role=button].error{
    background-color: #FF2E4A;
    border-color: #FF2E4A;
    color: #fcfcfc;
}

.button.error:hover,
button.error:hover,
input[type=button].error:hover,
input[type=submit].error:hover,
[role=button].error:hover{
    background-color: #DB2E45;
    border-color: #DB2E45;
    color: #fcfcfc;
}

.button.error:active,
button.error:active,
input[type=button].error:active,
input[type=submit].error:active,
[role=button].error{
    background-color: #BF2C40;
    border-color: #BF2C40;
    color: #fcfcfc;
}

.button.disabled,
button.disabled,
input[type=button].disabled,
input[type=submit].disabled,
[role=button].disabled{
    background-color: #d9d9d9;
    border-color: #d9d9d9;
    color:#fcfcfc;
}

/*.button.disabled,
button.disabled,
input[type=button].disabled,
input[type=submit].disabled,
[role=button].disabled{
    background-color: #5EC1FF;
    border-color: #5EC1FF;
    color:#fcfcfc;
}

.button.disabled,
button.disabled,
input[type=button].disabled,
input[type=submit].disabled,
[role=button].disabled{
    background-color: #5EC1FF;
    border-color: #5EC1FF;
    color:#fcfcfc;
}*/

.button.ghost,
.button.ghost:hover,
.button.ghost:active{
    background:none;
}

.button.ghost{color:#555;}
.button.ghost:hover{color:#333;}
.button.ghost:active{color:#111;}

.button.ghost.primary{color:#5EC1FF;}
.button.ghost.primary:hover{color:#5C8DDB;}
.button.ghost.primary:active{color:#5A70C4;}

.button.ghost.success{color:#83DE3E;}
.button.ghost.success:hover{color:#42BD3C;}
.button.ghost.success:active{color:#5DB054;}

.button.ghost.warning{color:#FFB914;}
.button.ghost.warning:hover{color:#DB741A;}
.button.ghost.warning:active{color:#C4581D;}

.button.ghost.error{color:#FF2E4A;}
.button.ghost.error:hover{color:#DB741A;}
.button.ghost.error:active{color:#C4581D;}

.button.ghost.disabled{color:#d9d9d9;}

.stacked{
    display: block;
    margin-bottom:15px;
}













